/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.page-find-us {
.site-content {
	display: flex;
	flex-direction: row;
	width: $container-width;
	margin: 0 auto;
	padding-top: 50px;
}
.content-area {
border-right: 1px solid $color_border-grey;
padding-right: 5%;
width: 73%;
}

.widget-area {
padding-left: 5%;
width: 27%;
}

.content-area, .widget-area {
	padding-top: 3rem;
	padding-bottom: 3rem;
	}

.entry-title {
	margin-bottom: .5rem;
	font-size: 2.4rem;
	color: black;
}

.content-area {
h2 {
	font-family: $font__secondary;
	font-size: 2.1rem;
	letter-spacing: 2px;
	color: $colar__inhabitent-bordercolor;
}
}
p {
	line-height: 1.75;
}

}

.strong {
	font-weight: bold;
}

.site {
	position: relative;
}

.site-header {
	position: absolute;
	width: 100%;
	padding: .5rem 0 .5rem 0;
}

.inner-header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;

	
}

.search-form {
label {
		// display: none;
		
		margin: 0;
	 }
}

.site-navigation {
	display: flex;
	flex-direction: row;
	text-align: left;
	

}


.main-navigation {
	li {
	padding-left: $base__space-unit;
	position: relative;
	}
	a {
	color: $color__background-body;
	text-decoration: none;
	font-size: .9rem;
	&:hover {
	color: $color__inhabitent-yellow;
	}
	}
}

.header-search {
	padding-left: $base__space-unit;
	padding-top: .33rem;
	
	line-height: 1rem;
	label {
		// display: none;
	}
	
}

.all-product-types img {
	height: 70px;
	width: 70px;
}

.product-type-holder {
	padding: .75rem;
	border: 1px solid $color_border-grey;
	border-top-width: 5px;
	max-width: 23.5%;
	flex-shrink: 1;
	flex-basis: 23.5%;	
    
    &:hover {
    border-color: $color__inhabitent-primary;
    }
}

.entry-title {
	font-size: 1.3rem;
	text-decoration: none;
	margin-bottom: 3.75rem;
	margin-top: 0;
	line-height: 1.25;
	letter-spacing: 2px;
	font-family: $font__secondary;	
	text-transform: uppercase;	
}

.page-home{
.entry-meta p {
	font-size: .75rem;
	padding: 0;
	margin: 0;
	line-height: 1.75;
}
}


.post-info-wrapper {
	padding: .75rem;
}

.thumbnail-wrapper {
 position: relative;
 background-color: $color_border-grey;
 height: 250px;
 overflow: hidden;
}


.page-home {
.black-btn {
position: absolute;
bottom: $base__space-unit / 2;
left: $base__space-unit / 2;
}
}


.wp-post-image {
	
	left: 50%;
	max-height: 100%;
	height: 250px;
	
	width: auto;
	

}

.journal-holder {
	border: 1px solid $color_border-grey ;
	margin: 0 px;
	flex: 0 1 32%;
	position: relative;
		
}

.journal-content {
	display: flex;
	justify-content: space-between;
	align-content: space-around;
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 0px;
	width: 100%;
}

.journal-block {
	border: 1px solid $color_border-grey ;
	border-bottom: 5px solid $color_border-grey;
      
}

.logo {

h1 {
	background: url("../../images/logos/inhabitent-logo-tent-white.svg") no-repeat;
	background-size: 50px 33px;
	height: 33px;
	width: 50px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	margin: 0;
}
}

.page-home h2 {
	font-size: 2.4rem;
	margin-bottom: $base__space-unit * 2.5;
	text-align: center;
	line-height: 1.25rem;
	font-family: 'Novecento Sans Web', Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	font-weight: 400;
	
}

.footer-content {
	display: flex;
	flex-direction: row;
	
 
	h3 {
	   color: $color__inhabitent-primary;
	   font-size: 1.2rem;
	   margin-bottom: $base__space-unit / 2;
	   letter-spacing: 2px;
	   text-transform: uppercase;

	}
 
	p {
	   margin-bottom: $base__space-unit / 3;
	}
 
	i {
		font-size: 1.2rem;
	   margin-right: $base__space-unit / 3;
	}
 
	.timeperiod {
	   font-weight: bold;
	}
 }

.logo-block {
	width: 50%;
	text-align: right;
}



.info-hours, .logo-block {
	margin: ($base__space-unit * 2) 0;
}

.contact-info, .business-hours {
	width: 50%;
}

.footer-content {
	a, p {

	
	font-family: 'Merriweather Web', windings;
	font-size: 1rem;
	line-height: 1.7rem;
		}
	a {
		color: $color__background-body;
		text-decoration: none;
	}
}

.page-home section {
	margin-bottom: $base__space-unit * 3;
}

.hero-image-home {
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.4), 
		rgba(0, 0, 0, .4)
	  ),url("../../images/home-hero.jpg");
	background-size: cover, cover;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
	
}

.hero-logo-home {
	max-width: 100%;
}

.page-home {
.widget-area {
	display: none;

	
}
}

.widget-title {	
	font-size: 1.5rem;
	text-transform: uppercase;	
	line-height: 1.5rem;
	font-family: $font__secondary;
	letter-spacing: 2px;
	color: $colar__inhabitent-bordercolor;
	
}

.textwidget {
	p {
		display: flex;
	}
	i {
		line-height: 1.8;
		margin-right: .5rem;
		width: 20px;
	}
}

.widget_text {
	margin: 0 0 3rem;
}



.day-of-week {
	font-size: 1rem;
	font-weight: 700;
}

.site-footer {
	background: url('../../images/dark-wood.png');
	color: $color__background-body;
a {
	text-decoration: none;
&:hover {
	text-decoration: underline;
}	
}
}



.site-description {
	display: none;
}



.all-product-types {
	@include display-flex-basic;
	justify-content: space-between;
	text-align: center;
}


.container {
	width: $container-width;
	margin: 0 auto;
}

.copyright-info {
	text-align: center;
	p {
		margin: 0;
	}
	padding: $base__space-unit 0;
}




.info-hours {
	display: flex;
	flex-direction: row;
	width: 50%;
}

.hero-image-header {
	
	color: white;
}

.page-about {
	.site-content {
		display: flex;
		// width: 100%;
		flex-direction: row;
	}
	h1 {
		font-size: 3rem;
	}
	}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0 0;
}

.page-about {
	header {
		margin-bottom: $base__space-unit * 2;
		height: 100vh;
	  }
	.site-content {
	p {
		text-align: left;
	}
	h2 {
		text-align: center;
		font-size: 2.1rem;
		line-height: 1.25;	
		letter-spacing: 2px;
		text-transform: uppercase;
		font-family: $font__secondary;
		color: $colar__inhabitent-bordercolor;
	}
}
	.hentry {
		margin-bottom: 4.5rem;
	}
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}




/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.containparagraph {
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 1.5rem;
	
}

.page-about 
	.content-area{
	flex-grow: 1;
}





.date, .blog, .single-post {
	.site-content {
		display: flex;
		max-width: 1120px;
		margin: 0 auto;
		padding-top: 50px;		
		
	}
}

.date, .blog, .single-post {
		.content-area {
		border-right: 2px !important;
		border-width: 2px !important;
		border-color: aqua;
		padding-right: 5%;
		width: 73%;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}


.date, .blog, .single-post {
	.widget-area {
		padding-left: 5%;
		width: 27%;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}


.date, .blog, .single-post {
	.entry-header {
	img {
		height: auto;
		width: 100%;
	}
	}	
	}

	
	.date, .blog {	
	.entry-title {
	position: absolute;
	}
	}

	.date, .blog, {
	.entry-header {
	a {
	color: $color__background-body;
	
	font-size: 2.1rem;
	line-height: 1.2;
	}
	}
}

.date, .blog, .single-post {
	.type-post {
	h2,h1 {
	padding-top: 0.75rem;
    padding-right: 1.5rem;
    padding-bottom: 0.75rem;
	padding-left: 1.5rem;
	margin-top: 2.25rem;
	max-width: 75%;
	background-color: $color__inhabitent-green;
	}
	}
}

.date, .blog, .single-post {
	.entry-meta {
		background-color: $color__inhabitent-green;
		bottom: 0px;
		right: 0;
		position: absolute;
		padding-right: 1.5rem;
		padding-bottom: 1rem;
		padding-left: 1.5rem;
		padding-top: 1rem;
		color: $color__background-body;
		text-transform: uppercase;
		display: inline-block;
		line-height: 0;
	}
	}

	.date, .blog, .single-post {
	.hentry {
		margin-bottom: 4.5rem;
	}
	.entry-content p {
	margin-top: 1.5rem;	
	}
}


.date, .blog, .single-post {
	.entry-header {
		position: relative;
		line-height: 0;
	}
	.entry-title {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.single-post {
	.comments-link {
		color: $color__background-body;
	a {
	color: $color__background-body;
	}
	}
	.nav-links {
		display: none;
	}
}

.single-post {
.content-area {
.comments-title {
	h2 {
	background-color: transparent;
	font-size: 2.1rem;
	color: $colar__inhabitent-bordercolor;
	padding: none;
	margin: none;
	max-width: none;
}
}
}
}

.single-post {
	.entry-title {
	color: $color__background-body;
	font-size: 2.1rem;	
	}
}

.date {
	.page-title {
	margin-top: 0;
	line-height: 1.25;
	font-size: 2.4rem;
	margin-bottom: 1.9rem;
	font-family: $font__secondary;
	text-transform: uppercase;
	}
	hr {
	margin-bottom: 3rem;
	}
}

.footer-logo {
	img {
		width: 50%;
		margin-top: 1rem;
	}
	}

	.see-more-block {
	.see-more {
	a {
	color: white;
	text-align: center;
	font-size: 1.2rem;
	padding: .75rem 1rem; 
	}
	}	
	}
.nav-previous, .nav-next {
	
}

	// Archive Product - Shop Page Styling

	.post-type-archive {
	.content-area {
	padding: 4rem 0rem;	
	
	}	
	.product-grid {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
	}	
	.product-grid-item {
		width: 23.5%;
		border: 1px solid $color_border-grey;
		margin-bottom: 1.5rem;
	}
	h2 {
		font-size: .9rem;
		font-weight: 400;
	}
	.product-info {
		display: flex;
		justify-content: space-between;
		padding: .75rem .75rem;
	}
	.product-title-name {
		margin: 0;
		white-space: nowrap;
		padding-right: .25rem; 
	}
	.thumbnail-wrapper {
		border-bottom: 4px solid $color_border-grey;
		padding-bottom: 0;
	}
	.product-price {
		padding-left: .25rem;
	}
	.dots {
		flex-grow: 1;
		overflow: hidden;
		&::after {
		  content: '.........................................................';
		}
	  }
	 .thumbnail-wrapper {
		 line-height: 0;
	 } 
	 h1 {
		 text-align: center;
		 font-family: $font__secondary;
		 font-size: 2.4rem;
		 text-transform: uppercase;
		}
		.product-description {
			display: flex;
			justify-content: center;
			text-transform: uppercase;
			font-size: 1.2rem;
			padding-bottom: 2rem;
			margin-bottom: 3rem;
			border-bottom: 1px dashed $color_border-grey;
	p {
	padding: 0 2rem;
	}	
	 }
	.shop-stuff-title {
	margin-bottom: 0;	
	}
	}
