/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.page-find-us {
.site-content {
	display: flex;
	width: 100%;
	flex-direction: row;
}
}

.strong {
	font-weight: bold;
}

.site {
	position: relative;
}

.site-header {
	position: absolute;
	width: 100%;
	padding: .5rem 0 .5rem 0;
}

.inner-header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;

	
}

.search-form {
label {
		display: none;
		
		margin: 0;
	 }
}

.site-navigation {
	display: flex;
	flex-direction: row;
	text-align: left;
	
}


.thumbnail-wrapper {
 position: relative;
 background-color: $color__background-screen;
 height: 250px;
 overflow: hidden;
}




.wp-post-image {
	
	left: 50%;
	max-height: 100%;
	height: 250px;
	
	width: auto;
	

}

.journal-holder {
	border: 1px solid $color__background-screen ;
	margin: 0 px;
	flex: 0 1 32%;
	
		
}

.journal-content {
	display: flex;
	justify-content: space-between;
	align-content: space-around;
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 0px;
	width: 100%;
}

.journal-block {
	border: 1px solid $color__background-screen ;
	border-bottom: 5px solid $color__background-screen;
      
}

.logo {

h1 {
	background: url("../../images/logos/inhabitent-logo-tent-white.svg") no-repeat;
	background-size: 50px 33px;
	height: 33px;
	width: 50px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	margin: 0;
}
}

.page-home h2 {
	font-size: 2.4rem;
	margin-bottom: $base__space-unit * 2.5;
	text-align: center;
	line-height: 1.25rem;
	font-family: 'Novecento Sans Web', Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	font-weight: 400;
	
}

.footer-content {
	display: flex;
	flex-direction: row;
	
 
	h3 {
	   color: $color__inhabitent-primary;
	   font-size: 1.2rem;
	   margin-bottom: $base__space-unit / 2;
	   letter-spacing: 2px;
	   text-transform: uppercase;

	}
 
	p {
	   margin-bottom: $base__space-unit / 3;
	}
 
	i {
		font-size: 1.2rem;
	   margin-right: $base__space-unit / 3;
	}
 
	.timeperiod {
	   font-weight: bold;
	}
 }

.logo-block {
	width: 50%;
	text-align: right;
}

.footer-logo {
	
		
img {
	width: 50%;
	margin-top: 1rem;
}
}

.info-hours, .logo-block {
	margin: ($base__space-unit * 2) 0;
}

.contact-info, .business-hours {
	width: 50%;
}

.footer-content {
	a, p {

	
	font-family: 'Merriweather Web', windings;
	font-size: 1rem;
	line-height: 1.7rem;
		}
	a {
		color: $color__background-body;
		text-decoration: none;
	}
}

.page-home section {
	margin-bottom: $base__space-unit * 3;
}

.hero-image-home {
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.4), 
		rgba(0, 0, 0, .4)
	  ),url("../../images/home-hero.jpg");
	background-size: cover, cover;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 0;
	
}

.hero-logo-home {
	max-width: 100%;
}

.page-home {
.widget-area {
	display: none;
}
}

.site-footer {
	background: url('../../images/dark-wood.png');
	color: $color__background-body;
a {
	text-decoration: none;
&:hover {
	text-decoration: underline;
}	
}
}



.site-description {
	display: none;
}



.all-product-types {
	@include display-flex-basic;
	justify-content: space-between;
	text-align: center;
}


.container {
	width: $container-width;
	margin: 0 auto;
}

.copyright-info {
	text-align: center;
	p {
		margin: 0;
	}
	padding: $base__space-unit 0;
}




.info-hours {
	display: flex;
	flex-direction: row;
	width: 50%;
}

.hero-image-header {
	@include full-width-100-height;
	color: white;
}

.page-about {
	.site-content {
		display: flex;
		width: 100%;
		flex-direction: row;
	}
	}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
