/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.page-find-us {
.site-content {
	display: flex;
	width: 100%;
	flex-direction: row;
}
}

.strong {
	font-weight: bold;
}

.site {
	position: relative;
}

.site-header {
	position: absolute;
	width: 100%;
}

.inner-header {
	display: flex;
	justify-content: start;
	
}

.search-form {
label {
		display: none;
		float: left;
		margin: 0;
	 }
}



.thumbnail-wrapper {
 position: relative;
 background-color: $color__background-screen;
 height: 250px;
 overflow: hidden;
}


.wp-post-image {
	// position: absolute;
	left: 50%;
	max-height: 250px;
	max-width: none;
	// top: 50%;
	width: auto;
	// transform: translate(-50%,52%);
	width: 360px;
	height: 250px;

}

.journal-content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 0;
}

.journal-block {
	border: 1px solid $color__background-screen ;
      
      
}

.logo {

h1 {
	background: url("../../images/logos/inhabitent-logo-tent-white.svg") no-repeat;
	background-size: 50px 33px;
	height: 33px;
	width: 50px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
}

.page-home h2 {
	font-size: 2.4rem;
	margin-bottom: $base__space-unit * 2.5;
	text-align: center;
	line-height: 1.2rem;
}

.page-home section {
	margin-bottom: $base__space-unit * 3;
}

.hero-image-home {
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.4), 
		rgba(0, 0, 0, .4)
	  ),url("../../images/home-hero.jpg");
	background-size: cover, cover;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 0;
	
}

.hero-logo-home {
	
}

.page-home {
.widget-area {
	display: none;
}
}

.site-footer {
	background: url('../../images/dark-wood.png')
}

.site-info  {
	display: none;
}

.site-description {
	display: none;
}



.all-product-types {
	@include display-flex-basic;
	justify-content: space-between;
	text-align: center;
}


.container {
	width: $container-width;
	margin: 0 auto;
}

.copyright-info {
	text-align: center;
}


.footer-content {
	display: flex;
	flex-direction: row;;
}

.info-hours {
	display: flex;
	flex-direction: row;
}

.hero-image-header {
	@include full-width-100-height;
	color: white;
}

.page-about {
	.site-content {
		display: flex;
		width: 100%;
		flex-direction: row;
	}
	}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
